# MATLAB / Simulink temporary files
*.asv
*.slxc
*.slxc.dmr
slprj/
codegen/
*.mex*
*.log

# Data / large files
*.mat
*.fig
*.mp4
*.avi
*.mov
*.zip
*.rar
*.7z

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/